header {
    position: sticky;
    background-color: #F3F4F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eaeaea;
    top: 0;
    z-index: 1000;
}

body {
    margin: 0;
}

button {
    cursor: pointer;

}

header h2 {
    font-size: 40px;
}

nav ul {
    display: flex;
    gap: 30px;
    margin-right: 150px;
}

nav ul li a {
    font-size: 25px;
}

nav a:hover {
    color: gray;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Khoảng cách giữa các icon */
}

.icon-btn {
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 0;
    color: black;
}

.btn-login {
    background-color: black;
    color: white;
    padding: 12px 26px;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 50px;
}

.size-6 {
    width: 30px;
    height: 30px;
}

footer {
    padding: 60px 5% 20px;
    background-color: #F3F4F6;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.footer-column h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.footer-column ul {
    padding-left: 0;
    margin: 0;
}

.footer-column ul li {
    align-items: center;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 18px;
    font-weight: 100;

}

.cart-badge {
    top: -7px;
    background-color: red;
    border-radius: 50px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    right: -17px;
    display: none;
}

.cart-container.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 36px;
    margin-bottom: 30%;
}

.svg-cart {
    font-weight: lighter;
    color: #99a1af
}

.cart-title {
    font-size: 48px;
}

.cart-content {
    color: #4A5579;
    font-size: 24px
}

.btn-view-all {
    background-color: black;
    padding: 12px 30px;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    align-self: center;
    gap: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

.btn-view-all:hover {
    background-color: #1E2939;
}

.cart-container.has-items {
    margin: 50px 100px;
}

.cart-title {
    margin-right: 0px;
    margin-bottom: 25px;
}

.grid-product {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;

}

.product-image-container {
    width: 100px;
    min-width: 100px;
    flex-shrink: 0;

}

.product-image-container img {
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    margin: 0;
    display: block;

}

.list-product {
    display: grid;
    gap: 10px;

}

.product-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 16px;
    gap: 12px;


}

.product-info-container {
    flex: 1;
    text-align: left;
}

.product-info-container h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quantity-control-wrapper {
    margin-left: 16px;
}

.quantity-container {
    display: flex;
    gap: 12px;
    margin-left: 15px;
    font-size: 24px;
}

.trash-icon {
    display: flex;
    margin-right: 35px;
    margin-bottom: 15px;
    justify-content: right;
    cursor: pointer;
    color: red;
}

.btn-minus {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    border: #e2e2e3 solid
}

.btn-plus {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border: #e2e2e3 solid
}

.quantity {
    font-size: 26px;
    display: flex;
    align-items: center;
}

.total-price {
    margin-top: 15px;
    font-weight: 500;
    font-size: 26px;
    margin-right: 15px;
}

.order-summary {
    display: flex;
    flex-direction: column;
    width: 380px;
    min-height: 360px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
    position: sticky;
    top: 130px;
    z-index: 1001;
}
.order-summary h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: black;
}

.summary-item {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 25px;
    font-size: 20px;
    color: grey;
}
.summary-item.total{
    border-top: #e4e4e4 solid 1px;
    padding-top: 12px;
    font-weight: bold;
    color: black;
}
.sub-total-wrapper {
    display: flex;
    justify-content: space-between;
}

.shipping-wrapper {
    display: flex;
    justify-content: space-between;
}

.tax-wrapper {
    display: flex;
    justify-content: space-between;
}

.after-tax-wrapper {
    display: flex;
    justify-content: space-between;
}
.btn-proceed{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 500;
}

.dark {
    background-color: #101828;
    color: white;

}

.light {
    background-color: white;
}

body.dark header,
body.dark footer {
    background-color: #1e2939;
    border-color: #1e2939;
}

body.dark a {
    color: white;
}

body.dark nav a:hover {
    color: #9ca3af;
}

body.dark .btn-login {
    background-color: white;
    color: #111;
}

body.dark .icon-btn {
    color: white;
}


body.dark .btn-view-all {
    background-color: #1e2939;
    color: #111;
}

body.dark .btn-view-all:hover {
    background-color: #d1d5db;
}

body.dark .product-card {
    background-color: #1e2939;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    color: white;
}

body.dark .product-info-container,
body.dark .product-category,
body.dark .product-info-container h2,
body.dark .product-info-container h3 {
    color: white;
}

body.dark .btn-minus,
body.dark .btn-plus {
    background-color: #1e2939;
    border-color: #4b5563;
    color: white;
}

body.dark .quantity {
    color: white;
}

body.dark .total-price {
    color: white;
}



body.dark .trash-icon:hover {
    color: #ef4444;
}

body.dark .order-summary {
    color: white;   
    background-color: #1e2939;
}body.dark .order-summary h2{
    color: white;   
}

body.dark .summary-item{
    color: white;
}
body.dark .btn-proceed{
    background-color: white;
    color: black;
}