.cart-badge {
    top: -7px;
    background-color: red;
    border-radius: 50px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    right: -17px;
    display: none;
}

.btn-place-order:hover {
    background-color: #1e2939 !important;
}

.modal-overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu đen với độ trong suốt 50% */
    backdrop-filter: blur(2px);
}

#modal-container {
    background-color: white;
    width: 500px;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.modal-header button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.check-icon {
    color: green;
    font-size: 48px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

.total-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
}

.actions {
    margin-top: 10px;
    display: flex;
    width: 100%;
    gap: 5px;
}

#btn-cancel {
    background-color: white;
    border-radius: 8px;
    width: 50%;
    padding: 8px 32px;
    border: solid grey 1px;
    font-weight: 500;
}

#btn-confirm {
    background-color: green;
    border-radius: 8px;
    width: 50%;
    border: solid grey 1px;

}

/* //dark mode */

body.dark .info-wrapper {
    background-color: #1e2939 !important;
}

body.dark input {
    background-color: #2a2a2a;
    color: white;
    border: 1px solid #444;
}

body.dark input::placeholder {
    color: white;
}

body.dark .payment-method {
    background-color: #2a2a2a !important;
    color: white;
    border: 1px solid #444;
}
body.dark #order-summary-wrapper{
    background-color: #2a2a2a !important;
    color: white;
    border: 1px solid #444;
}
body.dark #modal-container{
    background-color: #1e2939 ;
}