input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-card {
    display: flex;
    
}

.product-image-container {
    width: 50%;
}

.product-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-category {
    border-radius: 50px;
    background-color: #F3F4F6;
    padding: 8px 16px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 8px;
}

.quantity-container {
    align-items: center;
    gap: 15px;
    border: 1px solid;
    display: flex;
    width: fit-content;
    border-radius: 4px;
    padding:15px
}

.quantity-container input {
    width: 100px;
    text-align: center;
    border: none;
}

.quantity-container button {
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
}
.product-detail ul li {
    list-style: disc;
}
@media (max-width: 768px) {
    .product-card {
        flex-direction: column;
    }

    .product-image-container,
    .product-content {
        width: 100%;
    }
    .product-info-container{
        margin-left: 15px;
    }
}
