
.product-grid {
    margin: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 10px 0;
}

.product-card {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 15px;
    cursor: pointer;
    padding: 8px 16px;
    text-align: center;
}

.product-image {
    height: 250px;
    position: relative;
    object-fit: cover;
}

.product-card p {
    font-weight: bold;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-add-cart {
    border-radius: 4px;
    padding: 8px 15px;
    background-color: black;
    font-weight: bold;
    color: white;
}

.btn-add-cart:hover {
    background-color: #1E2939;
}

.form-control:focus {
    border-color: black;
    box-shadow: none;
}

#toast-container {
    background-color: #ECFDF3;
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 9999;
    border-radius: 8px;

}

.toast-message {
    color: green;
    padding: 16px 25px;
    animation: slideIn 0.3s ease-out, fadeOut 0.5s ease-in 2.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Dark mode */

body.dark {
    background-color: #101828;
    color: white;
}
body.dark .form-control {
    background-color: #1e2939;
    color: white;
    border: 1px solid #374151;
}

body.dark .form-control::placeholder {
    color: #9ca3af;
}
body.dark .btn-outline-dark {
    color: white;
    border-color: #4b5563;
}

body.dark .btn-outline-dark:hover {
    background-color: #1e2939;
    color: white;
}

body.dark .btn-outline-dark.active {
    background-color: white;
    color: black;
}
body.dark .product-card {
    background-color: #1e2939;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
body.dark .category,
body.dark .price,
body.dark .product-info {
    color: white;
}
body.dark header,
body.dark footer {
    background-color: #1e2939;
}
body.dark span{
    color: white !important;
}