.register-wrapper {
    background-color: #fbfbfb;
}

.form-control {
    padding: 8px 64px;
}
body.dark .register-wrapper{
    background-color: #101828;
}
body.dark .form-register {
    background-color: #1e2939 !important;
    color: white;
}
body.dark input {
    background-color: #2a2a2a;
    color: white;
    border: 1px solid #444;
}

body.dark input::placeholder {
    color: white;
}
