
.hero {
    background-color: black;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 20px;
    height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero h1 {
    font-size: 60px;
    transition: opacity 0.5s ease-in-out;
}

.hero h1.fade-out {
    opacity: 0;
}

.hero-dots {
    gap: 12px;
    display: flex;
    bottom: 25px;
    position:absolute;
    align-self: center;
}

.dot {
    width: 14px;
    height: 14px;
    background-color: #888888;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dot.active {
    background-color: white;
}

.btn-show-now {
    font-size: 20px;
    border-radius: 4px;
    padding: 12px 30px;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    align-self: center;
    gap: 10px;
    font-weight: bold;

}


/* Featured-Product */
.featured-products {
    text-align: center;
    padding: 60px 5%;
}

.featured-products h2 {
    font-size: 54px
}

.product-grid {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 0;
    /* scroll */
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

/* -> no scroll */
.product-grid::-webkit-scrollbar {
    display: none;
}

.product-card {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 15px;
    cursor: pointer;
    flex: 0 0 calc((100% - 60px) / 4);
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.product-card p {
    font-weight: bold;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.slider-container {
    width: 100%;
    margin: 0 auto;
}

.slider-btn {
    border-radius: 100%;
    margin-top: 10px;
    padding: 8px 16px;
    border: white;
    width: 46px;
    height: 46px;
    justify-self: center;
    align-items: center;
    display: inline-flex;
}

.slider-btn:hover {
    background-color: #ffffff;
    border: 1px solid #333;
}

.product-info {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.category {
    font-size: 0.9rem;
    color: #888888;
}

.btn-add-cart {
    padding: 8px 15px;
    background-color: black;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

.btn-add-cart:hover {
    background-color: #1E2939;
}

.btn-view-all {
    background-color: black;
    margin-top: 20px;
    padding: 12px 30px;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    align-self: center;
    gap: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

.btn-view-all:hover {
    background-color: #1E2939;
}

.shop-by-categories {
    background-color: #F3F4F6;
    text-align: center;
    padding: 50px;
    padding-top: 10px;
    font-size: 30px;
}

.category-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.btn-category {
    padding: 30px 45px;
    border-radius: 4px;
    background-color: white;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s ease;
}

.btn-category:hover {
    transform: scale(1.05);
}

#toast-container {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 9999;
    border-radius: 8px;

}

.toast-message {
    background-color: white;
    color: green;
    padding: 16px 30px;
    animation: slideIn 0.3s ease-out, fadeOut 0.5s ease-in 2.5s forwards;
    font-size: 16px;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

body.dark {
    background-color: #101828;
    color: white;
}
body.dark section {
    background-color: transparent;
}
body.dark .hero {
    background-color: #101828;
}
body.dark .product-image {
    background-color: #1e2939;
    padding: 10px;
    border-radius: 10px;
}

body.dark .featured-products {
    background-color: #101828;
}
body.dark .shop-by-categories {
    background-color: #101828;
}
body.dark footer {
    background-color: #1e2939;
}
@media (max-width: 768px) {

    .featured-products {
        padding: 30px 15px;
    }

    .featured-products h2 {
        font-size: 28px;
    }

    .product-grid {
        gap: 10px;
    }

    .product-card {
        flex: 0 0 75%;
    }
}
